html{
  font-size: 20px;
}
body{
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 3px yellow;
  border-bottom: solid 3px rgb(115,115,114);
  font-size: 2rem;
}
.text-sky{
  color: skyblue;
}
.text-pink{
  color: rgb(255,192,203);
}
#basic p{
  font-weight: bold;
}